
nav.main-nav {
  text-align: left;

  ul {
    @include content-block();

    list-style: none;
    margin: 0 auto;
    padding: $primary-padding*2 $primary-padding;

    li {
      display: inline-block;
      margin-right: $primary-padding*2;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $grey;

        border: 0 solid $primary-color;

        transition: border-width $transition-duration;

        &:hover {
          border-bottom-width: 3px;
        }
      }
    }
  }
}
