$red: #f64740;
$dark-red: #a3333d;
$yellow: #f0bc00;
$green: #00b720;
$blue: #477998;

$dark-grey: #291f1e;
$grey: #666;
$light-grey: #efe2e1;

$primary-color: $green;
$secondary-color: $blue;
$danger-color: $red;

$foreground-color: $dark-grey;
$background-color: white;

$content-width: 1024px;
$primary-padding: 20px;

$transition-duration: 0.1s;

$assets-path: "../assets";
$images-path: "#{$assets-path}/images";
$fonts-path: "#{$assets-path}/fonts";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";