$red: #f64740;
$dark-red: #a3333d;
$yellow: #f0bc00;
$green: #00b720;
$blue: #477998;

$dark-grey: #291f1e;
$light-grey: #efe2e1;

$primary-color: $blue;
$secondary-color: $green;
$danger-color: $red;

$text-color: #444;
$text-color-inverted: #fff;


$main-container-width: 660px;


$standard-padding: 40px;
$nav-padding: 5px;

$button-border-width: 2px;

$main-logo-width: 128px;

$assetsPath: "../assets";
$imagesPath: "#{$assetsPath}/images";
