$primary-color: #42a0d7;
$secondary-color: #3ce179;
$danger-color: #ff6444;

$text-color: #444;
$text-color-inverted: #fff;

$dark-grey: #505050;
$light-grey: #f3f3f3;

$main-container-width: 1024px;


$standard-padding: 35px;
$nav-padding: 5px;

$button-border-width: 2px;
