@import 'bootstrap.less';
@import 'variables.less';

body {
  background: @light-grey;
  color: @dark-grey;
}

.content {
  background: @dark-grey;
  color: @light-grey;
  padding: 20px 0 40px 0;
}

.navbar {
  margin-bottom: 0;
}

footer {
  padding-top: 40px;
}
