---
import Layout from '../../layouts/Layout.astro';
import BlogPostItem from '../../components/BlogPostItem.astro';

const posts = await Astro.glob('./*.md');
---
<Layout title="Blog">
  <h1>My blog</h1>
  <a href="/blog/rss.xml">RSS Feed</a>

  {posts.map(post => (
    <BlogPostItem post={post} />
  ))}
</Layout>

