extends layout.jade

block content

  h1.logo
    a(href="/") makmonty

  .intro-personal
    .main-container
      .main-content
        | I'm a software developer and video game lover.
        br
        | I do web development and try to play and do games.
        br
        | Checkout my games below!

  .intro-games
    .main-container
      .main-content
        a(href="/games/box-rain.html",title="Box Rain")
          img(src="/assets/images/games/boxrain/box-rain-banner.png", alt="Box Rain")
        .platforms
          i.icon-android
