extends layout

block content

  h1.logo
    a(href="/") makmonty

  .main-content
    p Welcome to my website. I'm a software developer and video game lover. I do web development and try to play and do games. Here I will publish my work. I have one game so far!

    p
      a(href="/games/box-rain",title="Box Rain")
        img(src="/images/games/boxrain/box-rain-banner-1024x500.png", alt="Box Rain")
      .platforms
        i.icon-android
