extends base

block vars
  - var title = 'makmonty';
  - var basePath = './';
  
block content

  aside
    header
      h1.logo

    nav
        ul
          li
            a(href="/") Home
          li
            a(href="#about") About
          li
            a(href="#about") Resume
          li
            a(href="#projects") Projects
          //- li
          //-   a(href="http://blog.makmonty.com") Blog
  
  section
    .main-block.intro-personal
      .avatar
      .intro I'm Ángel Brasero