extends layout

block content
  
  p.lead Welcome to my website. Here I will publish my work. I have one game so far!
  
  .row
    .game.col-sm-3
      a(href="/games/box-rain",title="Box Rain")
        img(src="/images/games/boxrain/box-rain-banner-1024x500.png", alt="Box Rain")
      .platforms
        i.icon-android
