extends base

block body

  .main-container

    h1.logo
      a(href="/") makmonty

    .intro-personal
      .main-content
        | Hi!
        br
        | I do web development and try to play and make video games.
        br
        | Checkout my work below!

    .intro-games
      .main-content
        a(href="/games/box-rain.html",title="Box Rain")
          img(src="/assets/images/games/boxrain/box-rain-banner.png", alt="Box Rain")
        .platforms
          i.icon-android
