* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #3ce179;
}
a:hover {
  color: #42a0d7;
}
.main-container {
  width: 1024px;
  margin: 0 auto;
}
.main-content {
  padding: 15px 0;
}
p {
  margin: 15px 0;
}
.content {
  padding: 15px;
}
nav {
  width: 100%;
  padding: 15px;
}
nav li {
  display: inline-block;
  padding: 0 5px;
}
footer {
  padding: 30px 0;
  text-align: center;
}
button,
input[type="submit"],
input[type="reset"],
.button {
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  background: #42a0d7;
  color: #fff;
  border-bottom: 2px solid #1f6994;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover {
  background: #2887be;
}
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
.button.button-secondary {
  background: #3ce179;
  color: #444;
}
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
.button.button-secondary:hover {
  background: #1fcb5f;
}
body {
  background: #505050;
  color: #f3f3f3;
  font-family: Montserrat, sans-serif;
}
.logo {
  width: 228px;
  background: url('/images/makmonty_logo_colors.png') center top no-repeat;
  background-size: 128px 128px;
  margin: 40px auto;
  text-align: center;
  font-weight: normal;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.logo a {
  display: block;
  padding-top: 128px;
  color: #fff;
}
.main-content {
  background-color: #f3f3f3;
  color: #444;
}
.game {
  margin: 40px 0;
}
.game a {
  display: block;
  max-width: 100%;
}
.game a img {
  max-width: 100%;
}
.game .platforms {
  font-size: 1.6em;
  margin-top: 5px;
  text-align: center;
  color: #c0c0c0;
}
.game-big {
  max-width: 600px;
  margin: 0 auto;
}
.game-big img {
  max-width: 100%;
}
.game-card ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.6em;
}
