backend:
  name: git-gateway
  branch: master

media_folder: static/cms/img
public_folder: /cms/img

collections:
  - name: "blog"
    label: "Blog"
    format: "json"
    folder: "assets/content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - {
          label: "Featured image",
          name: "featuredImage",
          widget: "image",
          required: false,
        }
      - {
          label: "Categories",
          name: "categories",
          widget: "list",
          required: false,
          field:
            {
              label: "Category",
              name: "category",
              widget: "relation",
              collection: "categories",
              valueField: "{{slug}}",
              searchFields: ["name"],
            },
        }
  - name: "games"
    label: "Games"
    format: "json"
    folder: "assets/content/games"
    create: true
    slug: "{{slug}}"
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Release Date", name: "date", widget: "date" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - { label: "Featured image", name: "featuredImage", widget: "image" }
      - {
          label: "Screenshots",
          name: "screenshots",
          widget: "list",
          required: false,
          field: { label: "Screenshot", name: "screenshot", widget: "image" },
        }
  - name: "categories"
    label: "Categories"
    format: "json"
    folder: "assets/content/categories"
    create: true
    slug: "{{slug}}"
    editor:
      preview: false
    fields:
      - { label: "Name", name: "name", widget: "string" }
