---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import BaseButton from '../components/BaseButton.astro';
import AvatarAngelPod from '../../public/images/angel-pod-512x512.jpg';
import FloatingThing from '../components/FloatingThing.astro';

const avatares = {
  pod: {
    src: AvatarAngelPod,
    className: ''
  },
  pixel: {
    src: '/images/yo-24x24.png',
    className: 'rendering-crisp-edges p-4 border-primary'
  }
};

const avatar = avatares.pod;
const disciplines = [
  {
    name: 'Frontend',
    icon: 'las la-desktop',
    description: 'Vue, Angular, React, Ember...'
  },
  {
    name: 'Backend',
    icon: 'las la-server',
    description: 'NodeJS, PHP, MySQL, MongoDB...'
  },
  {
    name: 'Games',
    icon: 'las la-gamepad',
    description: 'Unity3D, WebGL, Game Design...'
  },
  {
    name: 'Soundtracks',
    icon: 'las la-music',
    description: 'A, A#, B, C, C#...'
  }
];
let blogPosts = [];
try {
  blogPosts = await Astro.glob('./blog/*.md');
} catch {
  console.log('No blog posts')
}
---
<Layout title="Welcome to .">
  <article>
    <section class="intro">
      <FloatingThing width="128px" height="128px" />
      <div>
        <h2>
          I'm <strong>Ángel Brasero</strong>
        </h2>
        <p class="summary">
          I'm a software engineer. Passionate about technology and software development.<br>
          I spend most of my time coding.
        </p>
        <div>
          <BaseButton href="/cv" accent="secondary">
            Check my CV
          </BaseButton>
        </div>
      </div>
    </section>
    {!!blogPosts?.length && (
      <section>
        <h2>My blog</h2>
        {blogPosts.map(post => (
          <article>
            <h3>{post.frontmatter.title}</h3>
            <p>{post.frontmatter.description}</p>
            <footer><a href={post.url}>Read more</a></footer>
          </article>
        ))}
      </section>
    )}
  </article>
</Layout>

<style>
.intro {
  display: flex;
  gap: 40px;
  margin: 80px 0;
  align-items: center;
}
.intro h2 {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
}
.intro p {
  margin: 24px 0;
}

.blog-posts {
  margin-bottom: 32px;
}

section:not(:first-child) {
  margin-bottom: 42px;
}
</style>
