extends ../layout

block content

  .main-container
    .main-content
      article
        .game-big.text-center
          img(src="/assets/images/games/boxrain/box-rain-banner-1024x500.png" title="Box Rain")

        .game-info
          ul
            li Name: Box Rain
            li Platform: Android
            li Genre: Casual, Arcade
            li Link: #[a(href="https://play.google.com/store/apps/details?id=com.makmonty.boxrain", title="Box Rain at Google Play") Google Play]

          p Box Rain is an <strong>arcade video game</strong> made for the dead hours. The idea is simple: touch the falling boxes before they touch the bottom of the screen. Play quick, beat your record and share it. The game speeds up as you play and, eventually, there will appear boxes which you'll have to touch twice. Every box has a number on it showing how many times you'll need to touch it.
          p The core mechanics were developed in a couple of hours. The rest took me months. I made the game as a way to learn some features of the recently released free version of #[a(href="http://unity3d.com") Unity3D]: ads, analytics and in-app purchases.
          p Another feature worth mention is that <strong>the music is random</strong>, sounding a new sample everytime you break a box. I recorded the seven degrees of the minor mode of A and another seven tones to build the melodies.
