---
import { Image } from 'astro:assets';
import logo from '../images/logo-fat-sm.png';

const menu = [
  {
    name: 'CV',
    href: '/cv'
  },
  {
    name: 'Blog',
    href: '/blog'
  },
  {
    name: 'Projects',
    href: '/projects'
  },
];
---
<style>
nav {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
</style>

<nav>
  <a href="/">
    <Image src={logo} alt="Logo with the shape of an A" height="24" />
  </a>
  <ul>
    {menu.map(item => (
      <li>
        <a
          href={item.href}
        >
          {item.name}
        </a>
      </li>
    ))}
  </ul>
</nav>
