---
import { Image } from 'astro:assets';
import logo from '../images/logo-fat-sm.png';

const menu = [
  {
    name: 'Home',
    href: '/'
  },
  {
    name: 'CV',
    href: '/cv'
  },
  {
    name: 'Projects',
    href: '/projects'
  },
  // {
  //   name: 'Portfolio',
  //   to: '/portfolio'
  // },
  // {
  //   name: 'Contact',
  //   to: '/contact'
  // },
  // {
  //   name: 'Blog',
  //   href: 'http://blog.makmonty.com'
  // }
];
---
<style>
nav {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}
</style>

<nav>
  <Image src={logo} alt="Logo with the shape of an A" height="24" />
  <ul>
    {menu.map(item => (
      <li>
        <a
          href={item.href}
        >
          {item.name}
        </a>
      </li>
    ))}
  </ul>
</nav>
