---
const { project } = Astro.props;
---
<div class="project-card">
  <div class="card-image">
    <img src={project.featuredImage} alt={project.title}>
  </div>
  <div>
    <h3>
      {project.title}
    </h3>
  </div>
</div>

<style>
.project-card {
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--bg-secondary-color);
}
.card-image {
  background-image: url('/images/gamepad.png');
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
}
img {
  width: 100%;
}

h3 {
  padding: 0 16px;
}
</style>
