---
const { project } = Astro.props;
---
<div class="w-64 rounded-lg overflow-hidden bg-gray-200 dark:bg-gray-700 duration-1000">
  <div class="card-image bg-gray-300 bg-center bg-no-repeat w-full h-64">
    <img class="h-full" src={project.featuredImage} alt={project.featuredImage ? project.title : ''}>
  </div>
  <div class="p-4">
    <h6 class="text-lg text-dark dark:text-light duration-1000">
      {project.title}
    </h6>
    <p />
  </div>
</div>

<style>
.card-image {
  background-image: url('/images/gamepad.png');
  background-size: 20%;
}
</style>
