@import 'variables.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: @primary-color;

  &:hover {
    color: @secondary-color;
  }
}

body {
}

.main-container {
  width: @main-container-width;
  margin: 0 auto;
}

.main-content {
  padding: @standard-padding;
}

p {
  margin: @standard-padding/2 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  padding: @standard-padding;
}

nav {
  width: 100%;
  padding: @standard-padding;

  li {
    display: inline-block;
    padding: 0 @nav-padding;
  }
}

footer {
  padding: @standard-padding*2 0;
  text-align: center;
}

button,
input[type="submit"],
input[type="reset"],
.button {
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;

  background: @primary-color;
  color: @text-color-inverted;
  border-bottom: @button-border-width solid darken(@primary-color, 20%);

  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background: darken(@primary-color, 10%);
  }

  &:active {
    border-bottom: none;
    background-color: @primary-color;
    margin-top: @button-border-width;
  }

  &.secondary {
    background: @secondary-color;
    color: @text-color;

    &:hover {
      background: darken(@secondary-color, 10%);
    }
  }
}
