---
import Layout from './Layout.astro';

const { frontmatter: post } = Astro.props;
---
<style is:global>
h1 {
  font-size: 2rem;
}

h2 {
  padding-top: 2rem;
}
</style>
<Layout title={post.title}>
  <meta name="fediverse:creator" content="@makmonty@tkz.one" slot="head" />
  <img src={post.featuredImage} alt={post.title} />
  <article>
    <h1>{post.title}</h1>
    <slot/>
  </article>
</Layout>

<style>
img {
  width: 100%;
}
</style>
