@import "mixins";

:root {
  --bg-color: $bg-color;
  --fg-color: $fg-color;
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
}

body {
  background: var(--bg-color);
}

.rendering-crisp-edges {
  @include crisp-edges();
}
