@font-face {
  font-family: 'Droid Serif';
  src: url("#{$fontsPath}/DroidSerif-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  src: url("#{$fontsPath}/DroidSerif-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Droid Serif';
  font-weight: bold;
  src: url("#{$fontsPath}/DroidSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Droid Serif';
  font-weight: bold;
  font-style: italic;
  src: url("#{$fontsPath}/DroidSerif-BoldItalic.ttf") format("truetype");
}