@import "variables";
@import "mixins";

html {
  color: $foreground-color;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  background: $background-color;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color $transition-duration;

  &:hover {
    color: $grey;
  }
}

footer {
  // box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
  border-top: 1px solid $primary-color;
  margin-top: $primary-padding*2;
  padding: $primary-padding*4 0 $primary-padding*4 0;

  p {
    margin-top: 0;
  }

  .social-icons {
    font-size: 1.4rem;

    a {
      display: inline-block;
      margin: 0 $primary-padding;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

h2 {
  margin: $primary-padding*3 0;
}

.inverted {
  color: $background-color;
  background-color: $foreground-color;
}

.main-block {
  @include content-block();
}