input:is([type="text"],[type="number"],[type="email"]),
textarea {
  border: 1px solid #aaa;
  padding: 3px 9px;
}

input:is([type="text"],[type="number"],[type="email"]) {
  border-radius: 10em;
}

.form-group {
  display: block;
  margin: 15px 0;


  > label {
    display: block;

    span:first-child {
      display: block;
    }
  }

  &.inline {
    > label {
      display: flex;
      flex-direction: row;

      > * {
        flex-grow: 1;
      }

      span:first-child {
        padding-right: 15px;
      }
    }
  }

  > :is(input:is([type="text"],[type="number"],[type="email"]), textarea) {
    width: 100%;
  }
}
