// @import "variables";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
// // @import "../assets/stylesheets/icomoon/style";
// // @import "layout/makmonty";
@import "mixins";
// @import "buttons";
// @import "nav";
// // @import "fonts";
// @import "layout";

// @import "home";

@tailwind base;

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

a {
  @apply text-primary;
}

.rendering-crisp-edges {
  @include crisp-edges();
}
