:root {
  --gray1: #1f2335;
  --gray2: #24283b;
  --gray3: #292e42;
  --gray4: #3b4261;
  --gray5: #414868;
  --gray6: #545c7e;
  --gray7: #565f89;
  --gray8: #737aa2;
  --gray9: #a9b1d6;
  --gray10: #c0caf5;
  --darkest-blue: #394b70;
  --dark-blue: #3d59a1;
  --blue: #7aa2f7;
  --light-blue: #7dcfff;
  --lightest-blue: #b4f9f8;
  --purple: #bb9af7;
  --dark-purple: #9d7cd8;
  --orange: #ff9e64;
  --light-orange: #ffc777;
  --light-green: #c3e88d;
  --green: #4fd6be;
  --dark-green: #41a6b5;
  --light-red: #ff757f;
  --red: #ff007c;
  --dark-red: #c53b53;

  --bg-color: var(--gray1);
  --fg-color: var(--gray10);
  --primary-color: var(--red);
  --secondary-color: var(--blue);
}

